/docker-bitcoind/bitcoind-data/*
!/docker-bitcoind/bitcoind-data/.keep
/lnd/lnd-data/*
!/lnd/lnd-data/.keep
/lnd/tor-data/*
!/lnd/tor-data/.keep
/tor/tor-data/*
!/tor/tor-data/.keep
/tmp/*
!/tmp/.keep
pworker/zpool_status/*
/pworker/zpool_status/*
!/pworker/zpool_status/.keep
**.pyc
/lndg/data/*
!/lndg/data/.keep
/wireguard/server_config/*
!/wireguard/server_config/.keep
/wireguard/client_config/wg_confs/*
!/wireguard/client_config/wg_confs/.keep
